.politica-center {
    text-align: center;
    margin: 20px;
}
.politica-de-entrega {
    color:#10589b;
    margin: 30px;
    text-align: center;
    text-decoration: underline;
}
#pol-de-ent-p {
    margin: 0px 40px;
}